
:root {
    --scale: 1px;
    --window-height: calc(322 * var(--scale));
    --window-width: calc(232 * var(--scale));
}

body {
    background-color: black;
    height: 100vh;
    color: white;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    table-layout: fixed;
    width: var(--window-width);
}

td {
    /*font-size: just in case someone wanna try it;*/
    height: calc(var(--window-height) / 7);
    background-color: #6b5b7f;
    text-align: center;
    font-size: calc(20 * var(--scale));
    width: 10px !important;
    border: 1px solid #3a2655;
}

td:hover {
    background: #A59DB2;
}

tr td:last-child:hover {
    background-color: #6b5b7f;
}

table, td, tr {
    border: 1px solid #3A2655;
    border-collapse: collapse;
}

#display {
    height: calc(var(--window-height) / 4 );
    text-align: right;
    padding-right: 20px; 
    font-size: calc(var(--scale) * 56);
    font-weight: 100;
    vertical-align: bottom;
    background-color: #3a2655;
}

tr:nth-child(2) td {
    background-color: #4d3b66;
}

tr td:last-child {
    background-color: #ff9f0b;
}

tr:last-child td {
    height: calc(var(--window-height)/ 7 + 4px) !important;
}